# System Files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.spec

# Data (Optional: Uncomment if data folders are too large)
# WITH OVERLAP/
# WITHOUT OVERLAP/
# DATASET (OLD)/
